<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="dist/canvas-nest.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>

  
  <section id="main">
    This is temporary
  </section>
  <script type="text/javascript" src="dist/canvas-nest.js"></script>
  <script src="/assets/bundle.js"></script>
</body>
</html>